.App {
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}

.main {
    text-align: center;
    &__nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        &-search {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
}

.dark {
    color: white;
    background-color: rgb(50, 46, 46);
}

button {
    padding: .5rem;
    margin: .2rem;
}