@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand&display=swap');

.word-card {
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    color: black;
    background-color: grey;
    font-family: 'Bebas Neue', sans-serif;
    &__btn {
        border: none;
        border-radius: 5px;
        &:disabled {
            background-color: black;
            color: pink;
        }
    }
}

li {
    margin-left: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}